body{
    background-attachment: fixed;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #7f8fa6;
    
}

.main_form {
  border: 1px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin:auto;
  margin-top: 2cm;
  width: fit-content;
}

input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border-style: none;
}

input:focus {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border-style: none;
  color: white;
}

input[type=submit] {
  width: 200px;
  background-color: black;
  color: white;
  border: solid 1px white;
}

input[type=submit]:hover {
  background-color: rgb(32, 216, 32);
  color: black;
}

div {
  border-radius: 2px;
  padding: 20px;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

label {
  margin: 10px;
  text-align: center;
  width: 150px;
}
